
<form roll="form" class="form-inline" method="post" action="get_started">
    <div class="form-group form-block">
        <label for="name"></label> <input type="text" id="name" name="name"placeholder="Name"><br>
        <label for="storename"></label> <input type="text" id="storename" name="store_name" placeholder="Store Name"><br>
    </div>
    <div class="form-group">
        <label for="phonenumber"></label> <input type="tel" id="phonenumber" name="phone_number" placeholder="Phone Number"><br>
        <label for="emailaddress"></label> <input type="text" id="storename" name="email_address" placeholder="Email Address"><br>
    </div>
         
    <button type="submit" class="btn btn-blue btn-block" >Get Started</button>
 </form> 