<div class ="container about_us">
	<div class="row">
		<div class="col-md-6">
			<h4> Tri-State Merchant Services, Inc.</h4>
			<p>Backed by Vantiv/NPC, one of the top Merchant Acquirers in the US, Tri-State Merchant Services Inc. is proud to offer affordable management and payment solutions along with personalized customer service.  We understand what it means to be a small to midsize business and how important it is to take advantage of available technology to compete in today’s market.</p>  

			<p>Since 1995, Tri-State Merchant Services had been committed to providing superior service in a continued effort to exceed our merchant’s expectations and requirements. Our team strives to create the value-added services necessary to maintain long-term partnerships with our clients.</p>

			<p>Let us help your business grow.  Our world-class customer service is available 24 x 7 and the personal attention from our sales office is unbeatable.  We encourage our merchants to reach out to us with anything from basic questions to implementing an advanced payment solution strategy.</p>

			<p>We look forward to hearing from you and working together to streamline your business solutions.</p>

		</div>
	</div>

</div>