<div class="container">
	<h4> Online demos are conducted every XXXX day of every month.  Please schedule your demo below</h4>
	<div class="col-md-4" >
	   
	   <input id="picker_simple" class="datepicker" type="text" readonly="">
	   
	</div> 
</div>

<script> $('.datepicker').pickadate(
	{
    format: 'You selected: dddd, dd mmm, yyyy',
    formatSubmit: 'yyyy/mm/dd'});
</script>