
	    <ul class="nav nav-pills nav-justified">      
	      <li><a href="#ring">Ring Up <br>Sales</a></li>
	      <li><a href="#manage">Manage Your <br> Business</a></li>
	      <li><a href="#grow">Market and <br> Grow</a></li>
	      <li><a href="#support">7-day <br>Live Support</a></li>
	    </ul>
  



<div class="container-fluid features_top">
	<div class="row">

	</div><!--end row-->
</div><!--end features top container-->

<div class="container-fluid features_ring" id="ring">
	<div class="row">

	</div><!--end row-->
</div><!--end features ring container-->

<div class="container-fluid features_manage" id="manage">
	<div class="row">

	</div><!--end row-->
</div><!--end features manage container-->

<div class="container-fluid features_grow" id="grow">
	<div class="row">

	</div><!--end row-->
</div><!--end features grow container-->

<div class="container-fluid features_support" id:="support">
	<div class="row">

	</div><!--end row-->
</div><!--end features support container-->
