<div class ="container get_started">
	<div class ="row">
		<div class ="col-md-6">
			<h1>Congratulations!</h1>
			<p>You'll receive a call shortly from one of our account executives to help you get started.  In the meantime you can download the app and take it for a test drive. <%= link_to 'Download now', 'https://itunes.apple.com/us/app/vantiv-mobile-checkout/id644331179?mt=8' %></p>
			<span id="download_app"><%= link_to image_tag('vmc_app.png'), 'https://itunes.apple.com/us/app/vantiv-mobile-checkout/id644331179?mt=8' %></span>
		</div>
		<div class ="col-md-6">
			 <%=  image_tag 'VMCbasicsetup.png' %>
		</div>
	</div>

</div>
