<div class="container pricing-top">
	<div class="row">
		<div class= "col-md-6">
			<h1> Vantiv Mobile Checkout</h1>
			<h3> Ready to Go Out of the Box </h3>
			<button type="button" class="btn btn-blue">Get Started</button> 
			<button type="button" class="btn btn-blue">Watch Video</button>
		</div>
		<div class="container pricing-top col-md-6">
			 <%= image_tag 'VMCbasicsetup.png' %>
		</div>
	</div> 
</div>

<hr>

<div class="container pricing-mid">
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-12 price">
				<h2> Equipment Purchase Options </h2>
				<div class="col-md-6 bluebox">
					Purchase for <h3>$499</h3>
				</div>
				<div class="col-md-6 bluebox">
					or lease for <h3> $40/mo</h3>
				</div>
			</div>
				<div class="col-md-12">
					<h4>Vantiv Mobile Checkout station includes:</h4>
					<div class= "col-md-8">
						
						<ul>
							<li>Countertop Receipt Printer </li>
							<li>Ethernet Wire </li>
							<li> Drawer with insert </li>
							<li>Tablet Stand </li>
							<li>Encrypted Card Reader with Charging Cable </li>
							<li>Printer Roll</li>
						</ul>
					</div>
					<div class= "col-md-4 equipment"> 
						 <%= image_tag 'VMCbasicsetup.png' %>
					</div>
				</div>
				<div class="col-md-12">
					<h4>Additional Equipment</h4>
					<div class= "col-md-4">
						
						<ul style="list-style-type: none;">
							<li>Kitchen Printer </li>
							<li>Barcode Scaner </li>
							<li>Mobile Receipt Printer </li>
						</ul>
					</div>
					<div class= "col-md-8"> 
						<ul style="list-style-type: none;">
							<li>$299 purchase /$19 36-month lease</li>
							<li>$299 purchase /$19 36-month lease</li>
							<li>$399 purchase /$23 36-month lease</li>
						</ul>
					</div>
				</div>

			<div class="col-md-12 price">
				<h2> Service Fees </h2>
				<div class="col-md-6 bluebox">
					First Stateion <h3>$59/mo</h3>
				</div>
				<div class="col-md-6 bluebox">
					Each Additional Station <h3> $29/mo</h3>
				</div>
				Includes 24/7 technical support and 100% US based customer service.
			</div>

	</div> <!--close row -->
</div> <!--close container-->