/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: Georgia, Helvetica, sans-serif;
}
h1 {
	 text-transform: uppercase;
	 color: #00376D;
}
h2 {
	 
	 
}
h3 {
	
	
}
h4 {
	 
	
}

p {
	
}

.navbar {
	background-color:#393939;
}
.navbar-brand {
	height:80px;
}
.navbar-right p {
	color:white;

}

.navbar-right {
	padding-top:15px;

}

.navbar a {
	color:#3a7cc0;
}

.navbar-brand img {
	height: 50px;
}

.navbar button {
	margin-left: 20px;

}

.list-inline.rightnav li {
	font-size: 1.5em;
}

.list-inline.rightnav  a {
	color: 	#B9B9B9;
}

.list-inline.rightnav .sign_in {
	font-size: 1em;
	
}
.list-inline.rightnav .sign_in a {
	color:#3a7cc0;
}

.nav.nav-pills.nav-justified {
	background-color: #737373;
	
	margin-top: 50px;
	
}


.nav.nav-pills.nav-justified a {
	color: #FFFFFF;
	font-size: 1.5em;

}

.nav.nav-pills.nav-justified a:hover {
	color: #3a7cc0;

}
.carousel-inner img {
	padding-top:50px;
	height: 550px;
	margin-top: -50px;
	margin-left: -50px;
	
}
.carousel {
	margin-bottom: 50px;
	margin-top: -10px;
	margin-left: -20px;
}


.carousel-caption {
	bottom: 125px;
	
}


.carousel-caption .form-inline .form-group input {
	margin-top:10px;
	margin-bottom:10px;
	margin-right:15px;
	padding: 5px;
}

.carousel-caption .form-inline .form-group .button.btn .btn-primary  {
	margin-bottom:20px;
}

#main {
	margin-bottom: 75px;
}

.main-info{

	background-color: #566069;
	height:250px;
	
}
.main-info h3 {
	color:white;
	position:center;
	padding-top:30%;
	padding-left:25px;
	padding-right:25px;
}
.main-info2{
	
	background-color: #8e959b;
	height:250px;
	
}
.main-info2 h3 {
	color:white;
	position:center;
	padding-top:30%;
	padding-left:25px;
	padding-right:25px;
}

#email {
	background-image: asset-url('email.jpg', image);
}

.btn.btn-default.maininfobtn {
	background-color:#d49f46;
	color:white;

}
.bottom-center {

}

.container .starterpk {
	margin-top:50px;
}

.container.starterpk img {
	height:400px; 
	margin-top: 30px; 
	margin-right: 60px;
}

.yellowbox {
	background-color:#d49f46;
	width:95%;
	height:150px;
	border-radius: 5px;
	padding:20px;
}

.icon-list li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}
.icon-list li:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0px;
  top:3px;
  font-size:80%
}
.chevron-right li:before {
 content: '\e080';
}

.checkmark li:before {
 content: '\e013';
}

.arrow-right li:before {
 content: '\e092';
}
.parallax {
  background-image: asset-url('backgroundicon.jpg', image);
  height: 150px;
  margin-bottom: 50px;
  margin-left: -20px;
  text-align: center;
  color: white;
  opacity:0.5;
}

.container.grow img {
	width: 60%;
}
.container-fluid.signUp {
	margin-top:50px;
	margin-left: -20px;
	padding:25px;
	color:white;
	background-image: asset-url('backgroundc.jpg', image);
	
}


.container-fluid.signUp .form-inline .form-group input {
	margin-top:10px;
	margin-bottom:10px;
	margin-right:15px;
	padding: 5px;

}

.container .processing_fees {
	background-color: #F1F0F0;
	border-style: solid;
	border-color: #A99E93;
	border-width: 1px;
	height: 650px;
	width: 575px;

}
.small_text  {
	font-size: .85em;
}
.container-fluid.features-top img {
	height:400px;

}

.container-fluid.features-top {
	padding-bottom: 100px;

	}

.container.feautre-list {
	padding-bottom: 75px;
	padding-top:75px;
	background-color: #F1F0F0;

	}

.col-centered {
    float: none;
    margin: 0 auto;
}

.container-fluid.center-img {
	
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.container.feautre-list {
	margin: 50px;
}

.feature-list-icon {
	padding-top:5px;
	padding-bottom:25px;
}

.feature-list-icon-lf {
	padding-top:5px;
	padding-bottom:25px;

}
.features-video {
	height: 200px;
}

.container-fluid.features-row {
	padding-top: 100px;
	margin-top: -100px;
	padding-bottom: 200px;
}

.container.support img {
	height: 200px;
}
.shop img{
	height: 50px;
}
.show img{
	Width: 400px;
}

.container.get_started img {
	height: 400px;
}

#download_app img {
	height:100px;
}

.btn-gold { 
  color: #FFFFFF; 
  background-color: #D49F46; 
  border-color: #B3863A; 

} 

.btn.btn-gold a {
	color: #FFFFFF; 
}
 
.btn-gold:hover, 
.btn-gold:focus, 
.btn-gold:active, 
.btn-gold.active, 
.open .dropdown-toggle.btn-gold { 
  color: #FFFFFF; 
  background-color: #FFD285; 
  border-color: #B3863A; 
} 
 
.btn-gold:active, 
.btn-gold.active, 
.open .dropdown-toggle.btn-gold { 
  background-image: none; 
} 
 
.btn-gold.disabled, 
.btn-gold[disabled], 
fieldset[disabled] .btn-gold, 
.btn-gold.disabled:hover, 
.btn-gold[disabled]:hover, 
fieldset[disabled] .btn-gold:hover, 
.btn-gold.disabled:focus, 
.btn-gold[disabled]:focus, 
fieldset[disabled] .btn-gold:focus, 
.btn-gold.disabled:active, 
.btn-gold[disabled]:active, 
fieldset[disabled] .btn-gold:active, 
.btn-gold.disabled.active, 
.btn-gold[disabled].active, 
fieldset[disabled] .btn-gold.active { 
  background-color: #D49F46; 
  border-color: #B3863A; 
} 
 
.btn-gold .badge { 
  color: #D49F46; 
  background-color: #FFFFFF; 
}

.btn-blue { 
  color: #FFFFFF; 
  background-color: #3A7CC0; 
  border-color: #424041; 
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #FFFFFF; 
  background-color: #4D98E3; 
  border-color: #424041; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  background-image: none; 
} 
 

.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
  background-color: #3A7CC0; 
  border-color: #424041; 
} 
 
.btn-blue .badge { 
  color: #3A7CC0; 
  background-color: #FFFFFF; 
}

.container .pricing-top {
	padding-top: 50px;
}
.container .pricing-top img{
	height: 250px; 
	margin-top: -75px;
}
.equipment  img {
	height: 150px;
}

.bluebox {
	background-color: #E6F2FD;
	border-top-style: solid;
	border-bottom-style: solid;
    border-width: 2px;
	border-color: #8e959b;
	text-align: center;

	}


.main-info-test{

	background-color: #566069;
	height:250px;
	
}
.main-info-test h3 {
	color:white;
	position:center;
	padding-top:30%;
	padding-left:25px;
	padding-right:25px;
}
.main-info2-test{
	
	background-color: #8e959b;
	height:250px;
	
}
.main-info2-test h3 {
	color:white;
	position:center;
	padding-top:30%;
	padding-left:25px;
	padding-right:25px;
}